{{extend 'layout.html'}}
<script src="https://unpkg.com/vue@next"></script>

{{block header}}

    <div class="jumbotron jumbotron-fluid" style="padding:10px;word-wrap:break-word;">
      <div class="container center">

        <a class="btn btn-primary" href="{{=URL('MeioAmbienteRP','default','index')}}">SMMAURB</a>
        <a class="btn btn-primary" href="{{=URL(f'{request.application}','Pontos_de_Apoio','Pontos_de_Apoio')}}">Pontos de Apoio</a>
        <a class="btn btn-primary" href="{{=URL(f'{request.application}','Qualidade_do_Ar','Qualidade_do_Ar')}}">Qualidade do Ar</a>

      </div>
    </div>
{{end}}

<div class="row">
  <div class="col-md-12">

    <h2 align="center">{{='DEPARTAMENTO DE QUALIDADE AMBIENTAL - SÃO JOSÉ DO RIO PRETO'}}</h2>
    <p class="lead">{{=T('Números do Departamento: ')}}</p>
      <ol style="word-wrap:break-word;">
        {{for k, v in numeros_do_dpto.items():}}
          {{=LI(' '.join(x.capitalize() for x in k.split('_')), ':  ', B(v)  )   }}
        {{pass}}
      </ol>



  </div>


</div>
