{{extend 'layout.html'}}

<script type="text/javascript">
    $(document).ready(function(){
       document.getElementById('Obras_IdGerador').focus();})
 </script>
 {{if request.vars.pessoa_id:}}
 <script>
    function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
    }
    sleep(200).then(() => { $('#Obras_resptecnico').val("{{=request.vars.pessoa_id}}"); });
</script>
{{else:}}
{{pass}}


<style>
    input[type=checkbox] + label {
    display: block;
    margin: 0em;
    cursor: pointer;
    padding: 0.1em;
    }

    input[type=checkbox] {
    display: block;
    }

    input[type=checkbox] + label:before {
    content: "\2713";
    border: 0.13em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    }

    input[type=checkbox] + label:active:before {
    transform: scale(1.5);
    }

    input[type=checkbox]:checked + label:before {
    background-color: springgreen;
    border-color: black;
    color: #000000;
    }

    input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
    }

    input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
    }
    </style>

{{block header}}

<h2 class="card" style="padding:10px;word-wrap:break-word;">{{=' '.join(x.capitalize() for x in request.function.split('_'))}}</h2>

{{atributo={'_data-toggle':"collapse", 'aria-expanded':"false"} }}

    <br>
    {{=A('Busca', _class="btn btn-primary dropdown-toggle", _type="button", _href='#{}'.format('Busca'), **atributo ),SPAN(_class="caret") }}
        {{=DIV(formbusca, _id='Busca', _class="collapse list-unstyled")}}

    <br>
    {{=DIV(grade, _class="card", _align="center")}}


{{=A('Anterior', _href=URL(c='default',f='Obras', args=[int(obra) -1], vars={'f':'ver'}), _class='btn btn-primary',)if obra else ''}}
{{=A('Proximo', _href=URL(c='default',f='Obras', args=[int(obra)+1], vars={'f':'ver'}), _class='btn btn-primary',) if obra else ''}}


<div class="container"  {{if obra:}}style="border: 1px solid; padding-block: 2px;"{{pass}} >
    {{=A('Editar', _href=URL(c='default',f='Obras', args=[obra], vars={'f':'editar'}), _class='btn btn-primary', )
        if obra else ''}}
        {{=A('Novo', _href=URL(c='default',f='Obras', vars={}), _class='btn btn-primary',)if obra else ''}}
    <br/>
    <table class="jumbotron" style="border: 1px solid">
        <td width="15%" align='left' style="padding-inline: 20px;">{{=B('Ligações.:')}}
            {{=A( 'Obra neste endereço', _href=URL(c='default',f='Obras', args=[obra_no_endereco], vars={'f':'ver'}), _class='btn btn-primary') if obra_no_endereco and not obra else ''}}
            {{for k, v in formobra.custom.linkto.items():}}
                {{tabela, campo = k.split('__')}}
                {{num_registros_links = db(db[tabela][campo]==obra).count()}}
                {{=TD(DIV(B(v,' ' ,SPAN(num_registros_links,_class="badge badge-danger") if  num_registros_links > 0 else ''),
                    _class="card", _style="border: 1px solid; padding-inline: 20px; color: darkgreen"))}}
            {{pass}}
        </td>
    </table>
</div>

<br>
{{end}}
{{=formobra.custom.begin}}


<div class="jumbotron" style="border: 1px solid; padding:10px;word-wrap:break-word; " >
<table width="100%" style="border: 1px solid; padding:10px;word-wrap:break-word;">
    <tr>
        <div align='left' hidden="true">{{=formobra.custom.widget['Id']}}</td>
            <td width="35%" align='left'>{{=A('Gerador', _href=URL(c='default',f='Pessoas',  args=[gerador_id], vars={'f':'editar'}), _class='btn btn-primary', _style="height: 25px", _target="new")}}: {{=A(DIV(B('+')), _class="btn btn-primary", _type="button", _style="height: 25px",  _href='#{}'.format('NovaPessoa'), **atributo ),SPAN(_class="caret")}}
                    <div align='left' class="card">{{=formobra.custom.widget['IdGerador']}}</div></td>
            <td width="30%" align='left'>{{=A('Endereço', _href=URL(c='default',f='Enderecos', args=[endereco_id if endereco_id else ''],
                 vars={'f':'editar' if endereco_id else ''} ), _class='btn btn-primary', _style="height: 25px", _target="new")}}: {{=A('+', _class="btn btn-primary", _type="button", _style="height: 25px",  _href='#{}'.format('NovoEndereco'), **atributo ),SPAN(_class="caret")}}{{=A('limpa', callback=URL('limpar_sessao'), _style="height: 25px",  _class='btn btn-warning')}}
                    <div align='left' class="card">{{=formobra.custom.widget['IdEndereco']}} </div></td>
            <td width="7%" align='left'>{{=B('Alvará:      ')  }}<div align='left' class="card">{{=formobra.custom.widget['Alvara']}}</td>
            <td width="10%" align='left'>{{=B('Data Alvará: ')  }}<div align='left' class="card">{{=formobra.custom.widget['DataAlvara']}}</td>
            <td width="18%" align='left'>{{=B('Finalidade:  ')  }}<div align='left' class="card">{{=formobra.custom.widget['Finalidade']}}</div></td>
            </tr>
        <tr>
            <td>
                {{=DIV(LOAD('default', 'Pessoas.load',  ajax=True,  args=[gerador_id if gerador_id else ''],
                vars={'f':'editar' if request.vars['gerador_id'] else 'ver','reload_div':'NovaPessoa'}),
                 _id='NovaPessoa',  content='Carregando...', _class="collapse list-unstyled")}}
            </td>
        <td>
            {{=DIV(LOAD('default', 'Enderecos.load' ,  ajax=True,  args=[endereco_id if endereco_id else '']),
             _id='NovoEndereco', content='Carregando...', _class="collapse list-unstyled")}}


        </td>
        </tr>
    <tr>
        <table>
            <td width="15%" align='left'>{{=B('Protocolo Original:')  }}<div align='left' class="card">{{=formobra.custom.widget['Protocolo']}}</div></td>
            <td width="15%" align='left'>{{=B('Cadastro Municipal:')  }}<div align='left' class="card">{{=formobra.custom.widget['CadMunicipal']}}</div></td>
            <td width="10%" align='left'>{{=B('N. Quartos:') }}<div align='left' class="card">{{=formobra.custom.widget['Nquartos']}}</div></td>
            <td width="10%" align='left'>{{=B('Pavimentos Inferiores:')}} <div align='left' class="card">{{=formobra.custom.widget['PavtosSubS']}}</div></td>
            <td width="10%" align='left'>{{=B('Pavimentos sobre o solo:')}} <div align='left' class="card">{{=formobra.custom.widget['PavtosSobreS']}}</div></td>
        </table>
    </tr>
        <table>
    <tr>
            <td align='left'width="15%">{{=B('Protocolo do DOF:')  }}<div align='left' class="card">{{=formobra.custom.widget['protocolo_dof']}}</div></td>
            <td align='left'width="15%">{{=B('Protocolo da AGRCC:')  }}<div align='left' class="card">{{=formobra.custom.widget['protocolo_grcc']}}</div></td></div>
            <td width="10%" align='left'>{{=B('Area do Terreno:')}} <div align='left' class="card">{{=formobra.custom.widget['AreaTerreno']}}</div></td>
            <td width="12%" align='left'>{{=B('Área à Executar/Executada:')}} <div align='left' class="card">{{=formobra.custom.widget['AreaConstrExecutar']}}</div></td>
            <td width="10%" align='left'>{{=B('Área Demolição:')}} <div align='left' class="card">{{=formobra.custom.widget['AreaConstrDemolir']}}</div></td>
            <td width="12%" align='left'>{{=B('Área Construída anterior:')}} <div align='left' class="card">{{=formobra.custom.widget['AreaConstrExist']}}</div></td>
            <td width="8%" align='left'>{{=B('Corte:')}} <div align='left' class="card">{{=formobra.custom.widget['Corte']}}</div></td>
            <td width="8%" align='left'>{{=B('Aterro:') }}<div align='left' class="card">{{=formobra.custom.widget['Aterro']}}</div></td>
    </tr>
    <tr>
            <table class="jumbotron" style="border: 1px solid" width="100%">
                <div class="container">
                <td>

                <td width="25%" align='left' class="card"><div align='center' class="card"> A Obra Possui:{{=B('Piscina:') }}{{=formobra.custom.widget['Piscina']}}</div></td>
                <td width="25%" align='left' class="card"><div align='center' class="card">{{=B('Edicula:') }}{{=formobra.custom.widget['Edicula']}}</div></td>
                <td width="25%" align='left' class="card"><div align='center' class="card">{{=B('Estrutura Metálica:') }}{{=formobra.custom.widget['CobertMetalica']}}</div></td>
                <td width="25%" align='left' class="card"><div align='center' class="card">{{=B('Madeira Reflorestada.:') }}{{=formobra.custom.widget['MadeiraReflorest']}}</div></td>
                </div>
                </td>
                <td>
                <td width="25%" align='left' class="card"><div align='center' class="card">{{=B('Deck:') }}{{=formobra.custom.widget['Deck']}}</div></td>
                <td width="25%" align='left' class="card"><div align='center' class="card">{{=B('Pergolado') }}{{=formobra.custom.widget['Pergolado']}}</div></td>
                </td>
            </table>
    </tr>
                <td width="35%" align='left'>{{=A('Resoonsável Téc.', _href=URL(c='default',f='Pessoas',  args=[pessoa_id], vars={'f':'editar'}), _class='btn btn-primary', _style="height: 25px", _target="new")}}: {{=A(DIV(B('+')), _class="btn btn-primary", _type="button", _style="height: 25px",  _href='#{}'.format('Responsavel'), **atributo ),SPAN(_class="caret")}}
                    <div align='left' class="card">{{=formobra.custom.widget['resptecnico']}}</div></td>
                                        <tr>
                             <td>
                                    {{=DIV(LOAD('default', 'Pessoas.load', ajax=True, target='Responsavel', timeout=4500, times=2,
                                    content='Carregando...', ), _id='Responsavel', _class="collapse list-unstyled")}}
                             </td>
                        </tr>
                <td align='left'>{{=B('Observações:') }}<div align='left' class="card">{{=formobra.custom.widget['Obs']}}</td>

        </table>
        <table>
        <td>
            {{=redirect_button_pgrcc or None}}
        </td>
        <td>
            {{=redirect_button_agrc or None}}
        </td>
        </table>


    </tr>

</table>


</div>
{{=formobra.custom.submit}}

{{=formobra.custom.end}}

<br>
<tr>
    <td>
        {{if obra:}}
        {{=DIV(LOAD('default', 'DofsObras.load', ajax=True  , args=[obra], content='Carregando...'), _id='DofsObra', _class='jumbotron', _style="border: 1px solid; padding:10px;word-wrap:break-word;")}}
        {{else:}}
        <br>
        {{=DIV('DOCUMENTOS DE ORIGEM FLORESTAL')}}
        {{pass}}
    </td>
</tr>

{{=botao_despacho or None}}

{{ cache.action('style')}}

<script>
function ordenarSelect(id_componente) {
  var selectToSort = jQuery('#' + id_componente);
  var optionActual = selectToSort.val();
  selectToSort.html(selectToSort.children('option').sort(function (a, b) {
    return a.text === b.text ? 0 : a.text < b.text ? -1 : 1;
  })).val(optionActual);
}

$( document ).ready(function() {
    if ($('#Obras_IdEndereco').val() == "") {ordenarSelect('Obras_IdEndereco'); };
     $('#Obras_IdEndereco').keydown(ordenarSelect('Obras_IdEndereco'));})
</script>

{{pass}}
{{=response.toolbar()}}