{{extend 'layout.html'}}
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('Pgrcc_Protocolo').focus();
    })
</script>

{{block header}}

<h2 class="card" style="padding:10px;word-wrap:break-word;">{{=' '.join(x.upper() for x in
    request.function.split('_'))}}</h2>

{{atributo={'_data-toggle':"collapse", 'aria-expanded':"false"} }}

<div class="container" {{if obra:}}style="border: 1px solid; padding-block: 2px;" {{pass}}>
    {{=A('Editar', _href=URL(c='default',f='PGRCCs', args=[pgr], vars={'f':'editar'}), _class='btn btn-primary', )
    if pgr else ''}}
    {{=A('Novo', _href=URL(c='default',f='PGRCCs', vars={}), _class='btn btn-primary',)}}
</div>

<br>
{{end}}
{{=formpgr.custom.begin}}

<table width="100%" style="border: 1px solid">
    <td width="45%" align='left'> {{=B('Gerador:')}}
        <div class="input-group mb-3">
            <div class="input-group-prepend" align='left'>
                {{=A(B('+Gerador'), _class="btn btn-primary", _type="button", _style="",
                _href='#{}'.format('NovaPessoa'),
                **atributo ),SPAN(_class="caret")}}
            </div> {{=formpgr.custom.widget['idgerador']}}
        </div>
    </td>
    <td width="25%" align='left'> {{#=B('Protocolo:')}}
        <div align='center' class="card"
            style="border: 1px solid; padding:10px;word-wrap:break-word;  color: darkgreen">
            {{=A(B('Protocolo:'), _class="btn btn-primary", _type="button", _style="",
            _href=URL('default', 'Processos', args=[ id_do_processo if 'id_do_processo' in locals() else None],
            vars={'f':'ver'} ) )}}{{=formpgr.custom.widget['protocolo']}}</div>
    </td>
    <td width="30%" align='left' style="padding: 5px;">{{=B('SiGor: ')}}
        <div align='center' class="card">{{=formpgr.custom.widget['sigor']}}</div>
    </td>
    <tr>
        <td>
            {{=DIV(LOAD('default', 'Pessoas.load' ,ajax=True), _id='NovaPessoa', _class="collapse list-unstyled")}}
        </td>
    </tr>
    <tr>
        <table>
            <td width="50%" align='left' style="padding: 5px;"> {{=B('Obra: ')}}
                <div class="input-group mb-3">
                    <div class="input-group-prepend" align='left'>
                        {{=A(B('+Obra'), _class="btn btn-primary", _type="button", _style="",
                        _href='#{}'.format('NovaObra'),**atributo ),SPAN(_class="caret")}}</div>
                    <div align='left' class="card">{{=formpgr.custom.widget['idobra']}}</div>
                </div>
            </td>
            <td width="50%" align='left' style="padding: 5px;">{{=B('Responsável Técnico: ')}}
                <div align='left' class="card">{{=formpgr.custom.widget['resptecnico']}}</div>
            </td>
            <tr>
                <td>
                    {{=DIV(LOAD('default', 'Obras.load' ,ajax=True), _id='NovaObra', _class="collapse list-unstyled")}}
                </td>
            </tr>
        </table>
    </tr>
    <tr>
        <table>
                <td width="65%" align='left' style="padding: 5px;">{{=B('Metodo Construtivo: ')}}
                    <div align='left' class="card">
                        {{=formpgr.custom.widget['metodoconstrutivo']}}</div>
                </td>
                <td width="35%" align='left' style="padding: 5px;">{{=B('Obs: ')}}
                    <div align='center' class="card">
                        {{=formpgr.custom.widget['obs']}}</div>
                </td>            
        </table>
    </tr>
</table>
            <div class="card" style="border: 1px solid; padding: 5px; color: darkslategray">{{=H4('Classe A')}}
            <table>
                <tr>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('concreto: ')}}<div align='center' class="card">{{=formpgr.custom.widget['concreto']}}</div></td>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('argamassa: ')}}<div align='center' class="card">{{=formpgr.custom.widget['argamassa']}}</div></td> 
                    <td width="12%" align='left' style="padding: 5px;">{{=B('alvenaria: ')}}<div align='center' class="card">{{=formpgr.custom.widget['alvenaria']}}</div></td>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('ceramica: ')}}<div align='center' class="card">{{=formpgr.custom.widget['ceramica']}}</div></td>
                </tr>
                    <tr>
                        <td width="12%" align='left' style="padding: 5px;">{{=B('outros_CA: ')}}<div align='center' class="card">{{=formpgr.custom.widget['outros_ca']}}</div></td>
                            <td width="12%" align='left' style="padding: 5px;">{{=B('solo: ')}}<div align='center' class="card">{{=formpgr.custom.widget['solo']}}</div></td>
                    </tr>       
                </table>
            </div> 
            <div class="card" style="border: 1px solid; padding: 5px; color: darkslategray">{{=H4('Classe B')}}
                <table>
                        <tr>
                            <td width="12%" align='left' style="padding: 5px;">{{=B('madeira: ')}}
                        <div align='center' class="card">
                            {{=formpgr.custom.widget['madeira']}}</div>
                    </td>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('plastico: ')}}
                        <div align='center' class="card">
                            {{=formpgr.custom.widget['plastico']}}</div>
                    </td>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('papel: ')}}
                        <div align='center' class="card">
                            {{=formpgr.custom.widget['papel']}}</div>
                    </td>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('metal: ')}}
                        <div align='center' class="card">
                            {{=formpgr.custom.widget['metal']}}</div>
                    </td>
                </tr>
                <tr>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('vidro: ')}}
                        <div align='center' class="card">
                            {{=formpgr.custom.widget['vidro']}}</div>
                    </td>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('gesso: ')}}
                        <div align='center' class="card">
                            {{=formpgr.custom.widget['gesso']}}</div>
                    </td>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('outros_cb: ')}}
                        <div align='center' class="card">
                            {{=formpgr.custom.widget['outros_CB']}}</div>
                    </td>
                </tr>
            </table>
            </div>
            <div class="card" style="border: 1px solid; padding: 5px; color: darkslategray">{{=H4('Classe D')}}
            <table>
                <tr>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('tinta: ')}}
                        <div align='center' class="card">
                            {{=formpgr.custom.widget['tinta']}}</div>
                    </td>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('solvente: ')}}
                        <div align='center' class="card">
                            {{=formpgr.custom.widget['solvente']}}</div>
                    </td>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('oleo: ')}}
                        <div align='center' class="card">
                            {{=formpgr.custom.widget['oleo']}}</div>
                    </td>
                    <td width="12%" align='left' style="padding: 5px;">{{=B('outros_cd: ')}}
                        <div align='center' class="card">
                            {{=formpgr.custom.widget['outros_cd']}}</div>
                    </td>
                </tr>
            </table>
            </div>
        
        <table>
            <table class="jumbotron" style="border: 1px solid">
                <br/>
                <td width="15%" align='left' style="padding-inline: 20px;">{{=B('Referencias.:')}} 
                    {{for k, v in formpgr.custom.linkto.items():}}        
                    {{=TD(DIV(v, _class="card", _style="border: 1px solid; padding-inline: 20px; color: darkgreen"))}}
                    {{pass}}
                </td>
            </table>
            
        </table>
        <div style="position: absolute;" id="suggestions" class="suggestions"></div>
    
        
        <div>
            {{=formpgr.custom.submit}}
        </div>
        
        {{=formpgr.custom.end}}
        </div>