{{extend 'layout.html'}}
    {{block head}}

    {{end}}
{{if request.vars and request.vars.pessoa_id:}}
<script>
    function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
    }
    sleep(1800).then(() => { $('#Processos_IdPessoa').val("{{=request.vars.pessoa_id}}"); });
    sleep(2000).then(() => { $('#Processos_IdPessoa').val("{{=request.vars.pessoa_id}}"); });

</script>
{{else:}}
{{pass}}

<h2 class="container center">{{=' '.join(x.capitalize() for x in request.function.split('_'))}}</h2>

{{atributo={'_data-toggle':"collapse", 'aria-expanded':"false"} }}
    <br>
    {{=A('Busca', _class="btn btn-primary dropdown-toggle", _type="button", _href='#{}'.format('Busca'), **atributo ),SPAN(_class="caret") }}
        {{=DIV(formbusca, _id='Busca', _class="collapse list-unstyled")}}

    <br>
    {{=DIV(grade, _class="card", _align="left")}}


<div class="container">
{{=A('Editar', _href=URL(c='default',f='Processos', args=[processo], vars={ 'f':'editar'}), _class='btn btn-primary', ) if processo else ''}}
{{=A('Novo', _href=URL(c='default',f='Processos',  vars={}), _class='btn btn-primary',)if processo else ''}}
</div>

<div class="jumbotron" style="border: 1px solid; padding:10px;word-wrap:break-word;">

    {{=formprocess.custom.begin}}
        <table width="100%" >
                    <tr>
                        <tr>
                            <td width="45%" align='left'>{{=A('Pessoa', _href=URL(c='default',f='Pessoas', args=[pessoa_id], vars={'f':'editar'}),
                             _class='btn btn-primary', _style="height: 25px", _target="new")}}: {{=A(B('+'), _class="btn btn-primary", _type="button", _style="height: 25px", _href='#{}'.format('NovaPessoa'), **atributo ), SPAN(_class="caret") }}
                                <div align='left' class="card">{{=formprocess.custom.widget['IdPessoa']}}</div> </td>
                            <td width="25%" align='left' >{{=B('Protocolo:')}} <div align='left' class="card">{{=formprocess.custom.widget['Protocolo']}}</td>
                            <td width="15%" align='left'> {{=B('Tipo:     ')}} <div align='left' class="card">{{=formprocess.custom.widget['IdTipo']}}</td>
                            <tr>
                                <td>
                                    {{=DIV(LOAD('default', 'Pessoas.load', ajax=True, target='NovaPessoa',
                                    content='Carregando...', ), _id='NovaPessoa', _class="collapse list-unstyled")}}
                                </td>
                            </tr>
                        </tr>
                    </tr>
                    <tr>
                        <table width="50%">
                            <td width="25%" align='left' style="padding-inline: 20px;">{{=B('Departamento: ')}}
                            <div align='left' class="card">{{=formprocess.custom.widget['IdDpto']}}</td>
                            <td width="15%" align='left'style="padding-inline: 20px;">{{=B('Assunto:      ')}}
                            <div align='left' class="card">{{=formprocess.custom.widget['Assunto']}}</td>
                            <td width="15%" align='left'style="padding-inline: 20px;">{{=B('Categoria:    ')}}
                            <div align='left' class="card">{{=formprocess.custom.widget['IdCateg']}}</td>
                            <td width="15%" align='left'style="padding-inline: 20px;">{{=B('Data:         ')}}
                            <div align='center' class="card" style="border: 2px solid; padding:10px;word-wrap:break-word; color: darkgreen">{{=formprocess.custom.widget['DataReg']}}</td></div>
                            <table class="jumbotron" style="border: 1px solid">
                                <br/>
                                <td width="15%" align='left' style="padding-inline: 20px;">{{=B('Ligações.:')}}
                                    <tr>
                                    {{for k, v in formprocess.custom.linkto.items():}}
                                    {{tabela, campo = k.split('__')}}
                                    {{num_registros_links = db(db[tabela][campo]==processo).count()}}
                                    {{=TD(DIV(B(v,' ' ,SPAN(num_registros_links,_class="badge badge-danger") if  num_registros_links > 0 else ''),
                                     _class="card", _style="border: 1px solid; padding-inline: 20px; color: darkgreen"))}}
                                    {{pass}}
                                    </tr>
                                </td>
                                {{=redirect_button or None}}
                            </table>
                            </table>
                        </tr>
                        <div style="position: absolute;" id="suggestions" class="suggestions"></div>

        </table>
    </td>


        <div>
        {{=formprocess.custom.submit}}
        </div>

        {{=formprocess.custom.end}}
</div>


<script>
function ordenarSelect(id_componente)
{
  var selectToSort = jQuery('#' + id_componente);
  var optionActual = selectToSort.val();
  selectToSort.html(selectToSort.children('option').sort(function (a, b) {
    return a.text === b.text ? 0 : a.text < b.text ? -1 : 1;
  })).val(optionActual);
}

$('#Processos_IdPessoa').click(ordenarSelect('Processos_IdPessoa'));

( document ).ready(function() {

    if ($('#Processos_IdPessoa').val() == "") { ordenarSelect('Processos_IdPessoa'); };

});
</script>