{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">{{=request.application}}
    {{=request.controller}}
    {{=request.function}}</h1>
  </div>
</div>
{{end}}

<div class="row">
  <div class="col-md-12" align="center">

    {{if 'message' in globals():}}
    <h2>{{=message}}</h2>
    <br>
   
    </div>

    <div class="col-md-12" align="center">
      
      <h2> {{=A('Campanhas', _href=URL('','Campanhas', 'Campanhas')) }} em Andamento</h2>
        <ul>
        {{for camp in li_campanhas:}}
        {{=LI(A( camp.Nome , IMG( _src=URL('download', args=camp.Img ), _width="70px"
) , _href=URL('','Campanhas', 'Campanha', args=camp.id)))}}
        {{pass}}
        </ul>
        <h5></h5>

    </div>

    <div class="col-md-12" align="center">
      
      <h2>Ultimos {{=A('Personagens', _href=URL('','Personagens', 'Personagens')) }} Criados</h2>
      <ul>
        {{for person in li_personagens:}}
        {{=LI(A( person.Nome ,IMG( _src=URL('download', args=person.Img ), _width="70px") , _href=URL('','Personagens', 'Personagem', args=person.id)))}}
        {{pass}}
        </ul>

    </div>

        <div class="col-md-12" align="center">
      
      <h2>{{=msg_cenarios}}</h2>
        <ul>
        {{for cenario in li_cenarios:}}
        {{=LI(A( cenario.Nome ,IMG( _src=URL('download', args=cenario.Img ), _width="70px") , _href=URL('Cenario', args=cenario.id)))}}
        {{pass}}
        </ul>


    </div>



    {{elif 'content' in globals():}}
    {{=content}}
    {{else:}}
    {{=BEAUTIFY(response._vars)}}
    {{pass}}
  </div>
</div>



