{{extend 'layout.html'}}
    {{block head}}

    {{end}}

    <script type="text/javascript">
        $(document).ready(function(){
                try { document.getElementById('Requerimentos_Requerente').focus();
                } catch {console.log('Modo de Edição'); } } );
     </script>

<h2 class="container center">{{=' '.join(x.capitalize() for x in request.function.split('_'))}}</h2>

{{atributo={'_data-toggle':"collapse", 'aria-expanded':"false"} }}

{{=A('Busca', _class="btn btn-primary dropdown-toggle", _type="button", _href='#{}'.format('Busca'),
**atributo),SPAN(_class="caret") }}
{{=DIV(BEAUTIFY(formbusca), _id='Busca', _class="collapse list-unstyled") }}

<div class="container"  class="card" style="border: 1px solid; padding: 5px; word-wrap: break-word; color: darkslategray">
    <!-- {{=A('<<Anterior', _href=URL(c='default',f='Processos', args=[int(processo) -1], vars={'f':'ver'}), _class='btn btn-primary',)if
    processo else ''}}
    {{=A('Proximo>>', _href=URL(c='default',f='Processos', args=[int(processo) +1], vars={'f':'ver'}), _class='btn btn-primary',)if
    processo else ''}} -->
{{=A('Editar', _href=URL(c='default',f='Processos', args=[processo], vars={ 'f':'editar'}), _class='btn btn-primary', ) if processo else ''}}
{{=A('Novo', _href=URL(c='default',f='Processos',  vars={}), _class='btn btn-primary',) if processo else ''}}
{{=A('Despacho', _href=URL(c='default',f='Despachar_Processos', vars={'processo': processo}), _class='btn btn-primary',)if processo else ''}}

</div>

<div class="jumbotron" style="border: 1px solid; padding:10px;word-wrap:break-word;">

    {{=formprocess.custom.begin}}
        <table width="100%" >
                    <tr>
                        <tr>
                            <td width="25%" align='left' style="padding-inline: 10px">{{=A('Requerente', _href=URL(c='default',f='Pessoas',  vars={}), _class='btn btn-primary', _style="height: 25px")}}:<div align='left' class="card">{{=formprocess.custom.widget['Requerente']}}</div> </td> 
                            <td width="10%" align='left' style="padding-inline: 10px">{{=B('Cpf Cnpj:  ')}}<div align='left' class="card">{{=formprocess.custom.widget['cpf_cnpj']}}</td></div>            
                            <td width="10%" align='left' style="padding-inline: 10px">{{=B('Protocolo:')}} <div align='center' class="card">{{=formprocess.custom.widget['Protocolo']}}</div></td>
                            <td width="20%" align='left' style="padding-inline: 10px">{{=B('Data de Entrada:')}} <div align='left' class="card">{{=formprocess.custom.widget['data_entrada']}}</div></td>
                        </tr> 
                    </tr>
                         <tr>
                            <td width="45%" align='left' style="padding-inline: 10px;">{{=B('Endereço: ')}}<div align='left' class="card">{{=formprocess.custom.widget['Endereco1']}}</td>
                            <td width="5%" align='left'style="padding-inline: 10px;">{{=B('Numero:    ')}} <div align='left' class="card">{{=formprocess.custom.widget['Numero1']}}</td>
                            <td width="35%" align='left'style="padding-inline: 10px;">{{=B('Bairro:    ')}} <div align='left' class="card">{{=formprocess.custom.widget['Bairro']}}</td>
                        </tr>
                        <tr>
                            <table>
                          <td width="15%" align='left' style="padding-inline: 10px;">{{=B('Poda esp.: ')}}<div align='left' class="card">
                                    {{=formprocess.custom.widget['especie_poda1']}}</td>
                          <td width="10%" align='left' style="padding-inline: 10px;">{{=B('Poda qtd.: ')}}<div align='left' class="card">
                                    {{=formprocess.custom.widget['qtd_poda1']}}</td>
                                {{db.Requerimentos.especie_poda2.show_if = (db.Requerimentos.especie_poda1!=None)}}
                            <td width="15%" align='left' style="padding-inline: 10px;">{{=B('Poda esp.: ')}}<div align='left' class="card">
                                    {{=formprocess.custom.widget['especie_poda2']}}</td>
                            <td width="10%" align='left' style="padding-inline: 10px;">{{=B('Poda qtd.: ')}}<div align='left' class="card">
                                    {{=formprocess.custom.widget['qtd_poda2']}}</td>

                            <td width="15%" align='left' style="padding-inline: 10px;">{{=B('Poda esp.: ')}}<div align='left' class="card">
                                    {{=formprocess.custom.widget['especie_poda3']}}</td>
                            <td width="10%" align='left' style="padding-inline: 10px;">{{=B('Poda qtd.: ')}}<div align='left' class="card">
                                    {{=formprocess.custom.widget['qtd_poda3']}}</td>

                            <td width="15%" align='left' style="padding-inline: 10px;">{{=B('Poda esp.: ')}}<div align='left' class="card">
                                    {{=formprocess.custom.widget['especie_poda4']}}</td>
                            <td width="10%" align='left' style="padding-inline: 10px;">{{=B('Poda qtd.: ')}}<div align='left' class="card">
                                    {{=formprocess.custom.widget['qtd_poda4']}}</td>
                            </table>
                        </tr>
                        <tr>
                            <table>
                                <td width="15%" align='left' style="padding-inline: 10px;">{{=B('Retirada esp.: ')}}<div align='left' class="card">
                                        {{=formprocess.custom.widget['especie_ret1']}}</td>
                                <td width="10%" align='left' style="padding-inline: 10px;">{{=B('ret qtd.: ')}}<div align='left' class="card">
                                        {{=formprocess.custom.widget['qtd_ret1']}}</td>
                            
                                <td width="15%" align='left' style="padding-inline: 10px;">{{=B('Retirada esp.: ')}}<div align='left' class="card">
                                        {{=formprocess.custom.widget['especie_ret2']}}</td>
                                <td width="10%" align='left' style="padding-inline: 10px;">{{=B('ret qtd.: ')}}<div align='left' class="card">
                                        {{=formprocess.custom.widget['qtd_ret2']}}</td>
                            
                                <td width="15%" align='left' style="padding-inline: 10px;">{{=B('Retirada esp.: ')}}<div align='left' class="card">
                                        {{=formprocess.custom.widget['especie_ret3']}}</td>
                                <td width="10%" align='left' style="padding-inline: 10px;">{{=B('ret qtd.: ')}}<div align='left' class="card">
                                        {{=formprocess.custom.widget['qtd_ret3']}}</td>
                            
                                <td width="15%" align='left' style="padding-inline: 10px;">{{=B('Retirada esp.: ')}}<div align='left' class="card">
                                        {{=formprocess.custom.widget['especie_ret4']}}</td>
                                <td width="10%" align='left' style="padding-inline: 10px;">{{=B('ret qtd.: ')}}<div align='left' class="card">
                                        {{=formprocess.custom.widget['qtd_ret4']}}</td>
                            </table>
                        </tr>
                            <tr>    
                            <td width="20%" align='left'>{{=B('Despacho:')}} <div align='center' class="card">
                                    {{=formprocess.custom.widget['Despacho']}}</div></td>
                            <td width="20%" align='left'>{{=B('Data do Laudo:')}} <div align='center' class="card">
                                    {{=formprocess.custom.widget['data_do_laudo']}}</div>
                            </td>
                            <td width="20%" align='left'>{{=B('Local da Árvore:')}} <div align='center' class="card">
                                    {{=formprocess.custom.widget['local_arvore']}}</div>
                            </td>
                            <td width="20%" align='left'>{{=B('Tipo de Imóvel:')}} <div align='center' class="card">
                                    {{=formprocess.custom.widget['tipo_imovel']}}</div>
                            </td>
                            </tr>
                            <table class="jumbotron" style="border: 1px solid">
                            <br/>
                            <td width="15%" align='left' style="padding-inline: 20px;">{{=B('Referencias.:')}} 
                                <tr>
                                {{for k, v in formprocess.custom.linkto.items():}}        
                                {{=TD(DIV(v, _class="card", _style="border: 1px solid; padding-inline: 20px; color: darkgreen"))}}
                                {{pass}}
                                </tr>
                            </td>

                            </table>
                        </tr>
                        <div style="position: absolute;" id="suggestions" class="suggestions"></div>
                        
        </table>
    </td>  
    {{=formprocess.custom.submit}} 
    {{=formprocess.custom.end}}

        <br>
        {{=A('Registrar Laudo', _href=URL(c='default',f='Registrar_Laudo',  args=[request.args(0)], vars={'f':'ver'}), _class='btn btn-primary',) if not tem_laudo  and request.args(0) else None}}

        <div id="Laudo">
                <tr>
                    {{=DIV(LOAD('default', 'Laudos.load',  args=[request.args(0)], vars={'f': 'editar' if session.edit_laudo else 'ver', 'reload_div':'Laudo'}, content='Carregando...', ajax=True, target='Laudo'),
                    _id='Laudos', _class="jumbotron", _style="border: 1px solid; padding:10px;word-wrap:break-word;") if tem_laudo else None}}
                </tr>
        </div>

    
