{{extend 'layout.html'}}
{{"""

You should not modify this file. 
It is used as default when a view is not provided for your controllers

"""}}
<h2>{{=' '.join(x.capitalize() for x in request.function.split('_'))}}</h2>


{{if 'registro' in request.vars:}}
{{=A(SPAN('Editar', _class="glyphicon glyphicon-envelope"), _href=URL(c=request.controller ,f=tabela, args=[registro],
vars={ 'f':'editar'}), _class='btn btn-primary') if registro else '' }}
{{=A('Novo', _href=URL(c=request.controller, f=tabela, vars={}), _class='btn btn-primary',) if registro else ''}}
{{pass}}


{{if len(response._vars)==1:}}
{{=BEAUTIFY(response._vars[next(iter(response._vars))])}}
{{elif len(response._vars)>1:}}
{{ for var in response._vars:}}
{{response.write(BEAUTIFY(response._vars[var]))}}
{{pass}}
{{pass}}
