{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">
    {{=request.application}}
    {{=request.controller}}
    {{=request.function}}
    </h1>
  </div>
</div>
{{end}}

<div class="row">
    
    <div class="col-md-12" align="center">
      {{if 'message' in globals():}}
      <h2>{{=message}}</h2>
      {{pass}}
    </div>

    <TABLE>
    <td>
        <div class="col-md-12" align="rigth"> <h2> {{=A('Criar Persongem', _href=URL('Personagens', 'Criar_Personagem')) }}</h2> </div>
    
    </td>
    <td>
        <div class="col-md-12" align="left">
            <h3>Buscar Personagem</h3>
        [ {{=A('listall',_href=URL('Personagem'))}}]<br />
        {{=formbusca}}<br />{{=target_div}}
        </div>
    </td>

    </TABLE>

</div>